*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.aab
*.ap_
*.dex

*.class
*.jar
*.war
*.ear

bin/
gen/
out/

navigation.json

.gradle/
build/

.idea/
*.iml
*.iws
*.ipr

.kotlin/

*.log
*.keystore
*.jks
!debug.keystore

.env
.env.*

.kilocode/
.agent/
